.section-warpper{
    background-color:var(--color_dark) ;
    border-radius: var(--border-reduis-pramiry);
    padding: var(--padding-pramiry);
    margin-top: var(--margin-pramiry);
}
.section-header h4{
    font-size: 26px;
    font-weight: bold;
}

