:root{
  --color_main:rgb(72, 1, 82);
  --color_dark:rgb(41, 40, 40);
  --color-con-bk:rgb(53, 51, 51);
  --color_ligth:white;
  --color-icons:yellow;

  --color-buton1:rgb(183, 77, 197);
  --color-buton2:rgb(235, 146, 247);

  --dist-pramiry:50px;
  --padding-pramiry:var(--dist-pramiry);
  --margin-pramiry:var(--dist-pramiry);
  --border-reduis-pramiry:calc(var(--dist-pramiry)/2);
  --border-reduis-secondary:calc(var(--dist-pramiry)/4);

  --font-family-primary: "Poppins", sans-serif;

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
}

body{
  font-family: var(--font-family-primary);
  background-color: var( --color_dark);
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}